@model StoreClothess.Models.User
@{
    ViewBag.Title = "Редактирование пользователя";
}
<form asp-action="EditIds" method="post">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Director" class="control-label"></label>
            <input asp-for="Director" class="form-control" />
            <span asp-validation-for="Director" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Admivistrator" class="control-label"></label>
            <input asp-for="Admivistrator" class="form-control" />
            <span asp-validation-for="Admivistrator" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</form>