@{
    ViewData["Title"] = "Товары";
}

<div class="text-center">
    <h1 class="display-4">Товары</h1>

    <p>
       Нажмите здесь, если вы желаете ознакомиться с @Html.ActionLink("каталогом товаров","Index","Product") . На данной странице вы сможете осуществить поиск, а так же добавить товары в лист заказа.
    </p>

    <p>
        Если вы уже определились с заказом, то можете нажать @Html.ActionLink("здесь","Index","OrderList") для оформления заказа. 
    </p>

    <p>
        Для просмотра уже существующих заказов можете просмотреть данный  @Html.ActionLink("каталог","Index","Order") 
    </p>

</div>
