@{
    ViewData["Title"] = "Товары";
}

<div class="text-center">
    <h1 class="display-4">Магазины</h1>

    <p>
       Нажмите здесь, если вы желаете ознакомиться с @Html.ActionLink("каталогом магазинов","Index","Product") .
    </p>
    <br>
<br>
    <p>
        Магазин – это предприятие розничной торговли, которое находится в стационарном здании, оборудованном для продаж товаров и оказания услуг. «Магазин одежды» (Clothing store) - одна из разновидностей магазинов, в которой товаром являются предметы гардеробы. Это могут быть как куртки, джинсы, брюки, так и нижнее белье. В лист услуг обычно входит информационно-консультационные услуги, оказание помощи клиентам в совершении покупок и при их использовании.
    </p>
    <br>

    <img src="~/Foto/mag1.jpg" alt="Sample Photo" />

</div>
