@{
    ViewData["Title"] = "Сотрудники";
}

<div class="text-center">
    <h1 class="display-4">Сотрудники</h1>



    <a class="btn btn-primary" asp-controller="Administrator" asp-action="Index">Администратор</a>
    <br>
    <br>
    <a class="btn btn-primary" asp-controller="Bookkeeper" asp-action="Index" background-color:#4682B4>Бухгалтер</a>
    <br>
    <br>
    <a class="btn btn-primary" asp-controller="SellerCashier" asp-action="Index" background-color:#4682B4>Продавец-кассир</a>
    <br>
    <br>
    <a class="btn btn-primary" asp-controller="Director" asp-action="Index" background-color:#4682B4>Директор</a>
    <br>
    <br>
    <a class="btn btn-primary" asp-controller="Roles" asp-action="Index" background-color:#4682B4>Изменение ролей</a>
</div>
